<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gonghr.fmmall.dao.IndexDao">
    <resultMap id="indexImgMap" type="IndexImg">
        <id column="img_id" property="imgId"></id>
        <result column="img_url" property="imgUrl"></result>
        <result column="img_bg_color" property="imgBgColor"></result>
        <result column="prod_id" property="prodId"></result>
        <result column="category_id" property="categoryId"></result>
        <result column="index_type" property="indexType"></result>
        <result column="seq" property="seq"></result>
        <result column="status" property="status"></result>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"></result>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"></result>
    </resultMap>


    <resultMap id="categoryVoMap" type="com.gonghr.fmmall.entity.CategoryVo">
        <id column="category_id1" jdbcType="INTEGER" property="categoryId"></id>
        <result column="category_name1" jdbcType="VARCHAR" property="categoryName"></result>
        <result column="category_level1" jdbcType="VARCHAR" property="categoryLevel"></result>
        <result column="parent_id1" jdbcType="INTEGER" property="parentId"></result>
        <result column="category_icon1" jdbcType="VARCHAR" property="categoryIcon"></result>
        <result column="category_slogan1" jdbcType="VARCHAR" property="categorySlogan"></result>
        <result column="category_pic1" jdbcType="VARCHAR" property="categoryPic"></result>
        <result column="category_bg_color1" jdbcType="VARCHAR" property="categoryBgColor"></result>
        <collection property="categories" ofType="com.gonghr.fmmall.entity.CategoryVo">
            <id column="category_id2" jdbcType="INTEGER" property="categoryId"></id>
            <result column="category_name2" jdbcType="VARCHAR" property="categoryName"></result>
            <result column="category_level2" jdbcType="VARCHAR" property="categoryLevel"></result>
            <result column="parent_id2" jdbcType="INTEGER" property="parentId"></result>
            <collection property="categories" ofType="com.gonghr.fmmall.entity.CategoryVo">
                <id column="category_id3" jdbcType="INTEGER" property="categoryId"></id>
                <result column="category_name3" jdbcType="VARCHAR" property="categoryName"></result>
                <result column="category_level3" jdbcType="VARCHAR" property="categoryLevel"></result>
                <result column="parent_id3" jdbcType="INTEGER" property="parentId"></result>
            </collection>
        </collection>
    </resultMap>

    <resultMap id="categoryVoMap2" type="com.gonghr.fmmall.entity.CategoryVo">
        <id column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="category_level" jdbcType="INTEGER" property="categoryLevel"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="category_icon" jdbcType="VARCHAR" property="categoryIcon"/>
        <result column="category_slogan" jdbcType="VARCHAR" property="categorySlogan"/>
        <result column="category_pic" jdbcType="VARCHAR" property="categoryPic"/>
        <result column="category_bg_color" jdbcType="VARCHAR" property="categoryBgColor"/>
        <collection property="categories" column="category_id"
                    select="com.gonghr.fmmall.dao.IndexDao.selectAllCategory2"/>
    </resultMap>

    <resultMap id="categoryVoMap3" type="com.gonghr.fmmall.entity.CategoryVo">
        <id column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="category_level" jdbcType="INTEGER" property="categoryLevel"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="category_icon" jdbcType="VARCHAR" property="categoryIcon"/>
        <result column="category_slogan" jdbcType="VARCHAR" property="categorySlogan"/>
        <result column="category_pic" jdbcType="VARCHAR" property="categoryPic"/>
        <result column="category_bg_color" jdbcType="VARCHAR" property="categoryBgColor"/>
        <collection property="products" select="com.gonghr.fmmall.dao.IndexDao.selectTopSixProductsByCategoryId" column="category_id"></collection>
    </resultMap>
    <resultMap id="productVoMap" type="com.gonghr.fmmall.entity.ProductVo">
        <id property="productId" jdbcType="VARCHAR" column="product_id"></id>
        <result column="product_name" jdbcType="VARCHAR" property="productName"></result>
        <result column="category_id" jdbcType="VARCHAR" property="categoryId"></result>
        <result column="root_category_id" jdbcType="VARCHAR" property="rootCategoryId"></result>
        <result column="sold_num" jdbcType="INTEGER" property="soldNum"></result>
        <result column="product_status" jdbcType="INTEGER" property="productStatus"></result>
        <result column="content" jdbcType="LONGVARCHAR" property="content"></result>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"></result>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"></result>
        <collection property="imgs" select="com.gonghr.fmmall.dao.IndexDao.selectProductImgByProductId"
                    column="product_id"></collection>
    </resultMap>
    
    <resultMap id="productImgMap" type="com.gonghr.fmmall.entity.ProductImg">
        <id column="id" jdbcType="VARCHAR" property="id"></id>
        <result column="item_id" jdbcType="VARCHAR" property="itemId"></result>
        <result column="url" jdbcType="VARCHAR" property="url"></result>
        <result column="sort" jdbcType="INTEGER" property="sort"></result>
        <result column="is_main" jdbcType="INTEGER" property="isMain"></result>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"></result>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"></result>
    </resultMap>
    <select id="selectAllIndexImg" resultMap="indexImgMap">
        select img_id,
               img_url,
               img_bg_color,
               prod_id,
               category_id,
               index_type,
               seq,
               status,
               create_time,
               update_time
        from index_img
    </select>


    <select id="selectAllCategory" resultMap="categoryVoMap">
        select c1.category_id       category_id1,
               c1.category_name     category_name1,
               c1.category_level    category_level1,
               c1.parent_id         parent_id1,
               c1.category_icon     category_icon1,
               c1.category_slogan   category_slogan1,
               c1.category_pic      category_pic1,
               c1.category_bg_color category_bg_color1,
               c2.category_id       category_id2,
               c2.category_name     category_name2,
               c2.category_level    category_level2,
               c2.parent_id         parent_id2,
               c3.category_id       category_id3,
               c3.category_name     category_name3,
               c3.category_level    category_level3,
               c3.parent_id         parent_id3
        from category c1
                 join category c2
                      on c1.category_id = c2.parent_id
                 left join category c3
                           on c2.category_id = c3.parent_id
        where c1.category_level = 1
    </select>

    <select id="selectAllCategory2" resultMap="categoryVoMap2">
        select category_id,
               category_name,
               category_level,
               parent_id,
               category_icon,
               category_slogan,
               category_pic,
               category_bg_color
        from category
        where parent_id = #{parentId}
    </select>

    <select id="selectRecommendProducts" resultMap="productVoMap">
        select
            product_id,
            product_name,
            category_id,
            root_category_id,
            sold_num,
            product_status,
            content,
            create_time,
            update_time
        from product
        order by create_time desc
        limit 0, 3
    </select>

    <select id="selectProductImgByProductId" resultMap="productImgMap">
        select
            id,
            item_id,
            url,
            sort,
            is_main,
            create_time,
            update_time
        from product_img
        where item_id = #{id}
    </select>

    <select id="selectTopSixProductsByCategoryId" resultMap="productVoMap">
        select
            product_id,
            product_name,
            category_id,
            root_category_id,
            sold_num,
            product_status,
            content,
            create_time,
            update_time
        from product
        where root_category_id = #{cid}
        order by sold_num desc
        limit 0, 6
    </select>

    <select id="selectAllCategoryAndTopSixProducts" resultMap="categoryVoMap3">
        select category_id,
               category_name,
               category_level,
               parent_id,
               category_icon,
               category_slogan,
               category_pic,
               category_bg_color
        from category
        where category_level = 1
    </select>
</mapper>