<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gonghr.fmmall.dao.IndexImgDao">
    <resultMap id="indexImgMap" type="IndexImg">
        <id column="img_id" property="imgId"></id>
        <result column="img_url" property="imgUrl"></result>
        <result column="img_bg_color" property="imgBgColor"></result>
        <result column="prod_id" property="prodId"></result>
        <result column="category_id" property="categoryId"></result>
        <result column="index_type" property="indexType"></result>
        <result column="seq" property="seq"></result>
        <result column="status" property="status"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <select id="selectAllIndexImg" resultMap="indexImgMap">
        select img_id, img_url, img_bg_color, prod_id, category_id, index_type, seq, status, create_time, update_time from index_img
    </select>
</mapper>