<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gonghr.fmmall.dao.OrderItemDao">
    <insert id="insertOrderItem">
        insert into order_item(item_id,
                               order_id,
                               product_id,
                               product_name,
                               product_img,
                               sku_id,
                               sku_name,
                               product_price,
                               buy_counts,
                               total_amount,
                               basket_date,
                               buy_time,
                               is_comment)
        values(#{itemId},
               #{orderId},
               #{productId},
               #{productName},
               #{productImg},
               #{skuId},
               #{skuName},
               #{productPrice},
               #{buyCounts},
               #{totalAmount},
               #{basketDate},
               #{buyTime},
               #{isComment})
    </insert>
</mapper>